<div id="dashboard-filter">
   <div id="filter-header">Results Filter</div>
   <p>
      <input type="checkbox" id="require-ocr" <% if @ocr_filter %>checked<% end %>>
      <span class="cb-filter-label">Exclude works with no OCR results</span>
   </p>
   <p>
      <span class="filter-label">Batch</span>
      <select id="batch-filter" name="batch-filter">
         <option value>All</option>
         <% @batches.each do | batch | %>
            <option value="<%= batch[:id] %>"><%= batch[:name] %></option>
         <% end %>
      </select>
   <p>
      <span class="filter-label">From:</span>
      <input class="date-filter" type="text" id="from-date" value="<%= @from_filter %>"/>
      <span class="filter-label">To:</span>
      <input class="date-filter" type="text" id="to-date"  value="<%= @to_filter %>"/>
   </p>
   <input id="filter-reset" type="button" value="Reset Filter"/>
</div>