<tr class="font-detail" style="display: none">
   <td colspan="2">
      <div class="font-info">
         <p><span class="tt-label">Italic:</span><span class="font-data font-italic">d</span></p>  
         <p><span class="tt-label">Bold:</span><span class="font-data font-bold"></span></p>   
         <p><span class="tt-label">Fixed:</span><span class="font-data font-fixed"></span></p>   
         <p><span class="tt-label">Serif:</span><span class="font-data font-serif"></span></p>  
         <p><span class="tt-label">Fraktur:</span><span class="font-data font-fraktur"></span></p>  
         <p><span class="tt-label">Line Height:</span><span class="font-data font-height"></span></p>  
         <p><span class="tt-label">Path:</span><span class="font-data font-path"></span></p>  
      </div>
   </td>
</tr>