<div id="results-summary">
   <table id="ocr-summary">
      <tr>
         <th>Gale</th>
         <th>Tesseract</th>
         <th>Gamera</th>
         <th>Gale</th>
      </tr>   
   </table>   
</div>