<div id="dashboard-main">
   
   <%= render :partial => 'summary' %>
   
   <div id="results-detail">
      <%= render :partial => 'paging' %>
      
      <table id="detail-table">
         <tr>
            <th>Data Set</th><th>Work ID</th><th>Title</th><th>Author</th><th>Gale Change Index</th>
         </tr>
      </table>
   </div>
</div>