<div id="dashboard-main">

   <%= render :partial => 'summary' %>

   <div id="results-detail">
      <table id="detail-table">
         <thead>
            <tr>
               <th>Data Set</th><th>Work ID</th><th>Title</th><th>Author</th><th>Gale Change Index</th>
            </tr>
         </thead>
         <tbody>
         </tbody>
      </table>
   </div>
</div>