<div id="add-pages-to-batchjob" class="emop-popup" title="Add Pages to Batch Job">
  <form id="add-pages-to-batchjob-form" action="<%= path %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :page_ids %>

    <table>
      <tr>
        <td class="table-label">Batch Job:</td>
        <td class="table-input"><%= select_tag :batch_job, options_from_collection_for_select(BatchJob.all, :id, :name) %></td>
      </tr>
    </table>
  </form>
</div>
