<div id="ocr-error-popup" class="emop-popup" title="OCR Error Information">
   <div>
      Page <span id="error-page"></span> failed with the following message:
   </div>
   <div id="page-error-message">
   </div>
</div>