# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  secret_key_base: CHANGEME

  ##########################
  ### EMAIL
  ##########################

  # For getting automatic emails when an error occurs
  # exception_recipients: List of all emails that should receive the notification
  # sender_address: Who the notification email will be from
  # email_prefix: What each email should be prefixed with
  exception_notifier:
    exception_recipients:
      - root@localhost
    sender_address: '"FirstBooks Dashboard Dev" <firstbooks@dh-firstbooks-web.tamu.edu>'
    email_prefix: "[FirstBooks Dashboard Dev] "

  admin:
    email: treydock@tamu.edu

  # For setting up email - this example uses sendgrid
  smtp_settings:
    address: "smtp-relay.tamu.edu"
    port: 25
    domain: 'tamu.edu'
    return_path: 'firstbooks-dashboard-dev.tamu.edu/'

  ##########################
  ### EMOP
  ##########################
  juxta_ws_url: http://127.0.0.1:8182/juxta
  juxta_ws_user: juxta
  juxta_ws_pass: CHANGEME
  emop_path_prefix: /
  emop_font_dir: /data/shared/tessdata
  juxta_expire_hrs: 8

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default

##########################
### CAPISTRANO
##########################
