# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  secret_key_base: some-long-list-of-numbers

  ##########################
  ### EMAIL
  ##########################

  # For getting automatic emails when an error occurs
  # exception_recipients: List of all emails that should receive the notification
  # sender_address: Who the notification email will be from
  # email_prefix: What each email should be prefixed with
  exception_notifier:
    exception_recipients: [ "developer@email.com" ]
    sender_address: '"Emop Dashboard" <info@nines.org>'
    email_prefix: "[Emop Dashboard] "

  admin:
    email: info@nines.org

  # For setting up email - this example uses sendgrid
  smtp_settings:
    address: "smtp.sendgrid.net"
    port: 587
    user_name: 'account-holder-username'
    domain: 'sendgrid.net'
    password: 'super-secret'
    authentication: :plain
    return_path: http://example.com
    enable_starttls_auto: false
    xsmtpapi: 'dashboard'

  ##########################
  ### EMOP
  ##########################
  juxta_ws_url: http://127.0.0.1:8182/juxta
  juxta_ws_user: juxta
  juxta_ws_pass: super-secret
  emop_path_prefix: /path/to/emop-controller
  emop_font_dir: /path/to/emop-controller/data/fonts
  font_suffix: '.traineddata'
  language_model_path: '/path/to/language_models'
  gsm_path: '/path/to/gsm'
  juxta_expire_hrs: 1

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default

##########################
### CAPISTRANO
##########################

capistrano:
  edge:
    user: 'juxta'
    ssh_name: 'js'
    ruby: 'ruby-2.1.2'
    system_rvm: false
    deploy_base: '/path/to/www/emop-dashboard'
