// Place all the styles related to the Juxta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Override juxta-ws styles
 */
#connections-div {
   outline: 0 !important;
}
.sbs-witness {
   border: 1px solid #888 !important;
   border-radius: 5px !important;
   -mox-border-radius: 5px !important;
   -webkit-border-radius: 5px !important;
}
.header {
   background-color: #ccc;
   border-bottom: 1px solid #888;
   font-weight: 500;
   padding: 2px 5px;
   color: #555;
}

#page-scroller {
   padding: 10px;
}
.witness-text {
   cursor: default !important;
}

/*
 * Remainder of juxta / emop dashboard styles
 */
#dim-overlay {
   z-index: 1000;
   cursor: wait;
   display: none;
   width: 100%;
   height: 100%;
   position: fixed;
   background-color: rgba(128, 128, 128, 0.5);
   top: 0%;
   left: 0%;
}

#wait-popup {
   display: none;
   text-align: center;
   width: 200px;
   height: auto;
   background-color: white;
   position: fixed;
   top: 40%;
   left: 50%;
   margin-left: -100px;
   z-index: 1001;
   box-shadow: 0 0 40px 10px #666;
   -webkit-box-shadow: 0 0 40px 10px #666;
   -moz-box-shadow: 0 0 40px 10px #666;
   border: 3px solid #555;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius:  10px;
   font-size: 0.85em;
   font-weight: 200;
   #wait-msg {
      margin-left: 10px;
      margin-right: 10px;
   }
   #wait-spinner {
      margin-top: 15px;
   }
}