<div id="new-font-popup" class="emop-popup" title="Upload Font">
   <%= form_tag( {:controller => "fonts" }, :id => 'font-upload-form', :enctype=>"multipart/form-data" ) do %>
      <label for="font-name">Name:</label>
      <input id="font-name" type="text" name="font-name"/>
      <input id="font-file" type="file" name="file"/>
   <% end %>
</div>