<div id="pick-batch-popup" class="emop-popup" title="Select Batch">
   <select id="batch-pick" name="batch-pick">
      <option value>Select batch</option>
      <% @batches.each do | batch | %>
         <option value="<%= batch[:id] %>"><%= batch[:name] %></option>
      <% end %>
   </select>
      
   <table>
      <tr><td class="table-label">Batch Type:</td><td><span class="table-data" id="batch-type"></span></td></tr>
      <tr class="engine-row"><td class="table-label">OCR Engine:</td><td><span class="table-data" id="batch-engine"></span></td></tr>
      <tr class="font-row" style="display: none"><td class="table-label">Font:</td><td><span class="table-data" id="batch-font"></span></td></tr>
      <%= render :partial => 'font_detail_row' %>
      <tr><td class="table-label">Parameters:</td><td><span class="table-data" id="batch-params"></span></td></tr>
      <tr><td class="table-label" style="vertical-align: text-top;">Notes:</td><td><span class="table-data" id="batch-notes"></span></td></tr>
   </table>
</div>
